<!DOCTYPE html>
<html>
<head>
    <title>Student ERP Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <!-- HEADER -->
    <div class="header">
        <h1>Student ERP Portal</h1>
        <p>
            {{ student.name }} • {{ student.usn }} •
            {{ student.branch }} • Graduation {{ student.graduation_year }}
        </p>
    </div>

    <!-- MODULES -->
    <div class="card">
        <h2>Modules</h2>
        <br>

        <div class="modules">
            <a class="module-btn" href="/academics">📘 Academics</a>
            <a class="module-btn" href="/attendance">📊 Attendance</a>
            <a class="module-btn" href="/placements">💼 Placements</a>
        </div>

        <a class="logout-btn" href="/logout">Logout</a>
    </div>

</div>

</body>
</html>
