<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script defer src="{{ url_for('static', filename='login.js') }}"></script>
</head>

<body class="login-body">

<div class="login-wrapper">
    <div class="login-card">

        <h2>Student Portal</h2>
        <p class="sub">Welcome back</p>

        {% if error %}
        <div class="error-box">{{ error }}</div>
        {% endif %}

        <form method="POST" action="/login">

            <!-- EMAIL -->
            <div class="floating-group">
                <input type="text" name="email" required>
                <label>Email</label>
            </div>

            <!-- PASSWORD -->
            <div class="floating-group password-wrap">
                <input type="password" name="password" id="password" required>
                <label>Password</label>
                <span class="eye" onclick="togglePassword()">👁</span>
            </div>

            <button class="login-btn" type="submit">Login</button>

        </form>

    </div>
</div>

</body>
</html>
